/**

    Ebaskıcım theme styles

**/
/* 1.0.0 IMPORTS (START) */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rg-VQ.ttf)
    format("truetype");
}
/* 1.0.0 IMPORTS (START) */
/* 1.0.0 VARIABLES (START) */
/*---- 1.1.0 GRAY SHADES ----*/
/*---- 1.2.0 MAIN COLOR SHADES ----*/
/*---- 1.3.0 NOTICE COLOR SHADES ----*/
/*---- 1.4.0 FONT ----*/
/* 1.0.0 VARIABLES (END) */
/* 2.0.0 MIXINS (START) */
/* 2.0.0 MIXINS (END) */
/* 3.0.0 RESET (START) */

.container-xl {
  max-width: 1400px !important;
}
/* 3.0.0 RESET (END) */
/* 4.0.0 TITLES (START) */
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.main-title {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.hidden-title {
  display: none;
}
/* 4.0.0 TITLES (END) */
/* 4.0.0 INPUTS AND BUTTONS (START) */
/*---- 4.1.0 INPUTS ----*/
/*----*---- 4.1.1 TEXT INPUTS ----*----*/
.input-container {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.input-label {
  position: absolute;
  left: 30px;
  top: 16px;
  z-index: 1;
  transition: all 0.2s;
  color: #868e96;
  cursor: text;
}
.label-up {
  transform: translateY(-60%) translateX(-10%) scale(0.75);
  letter-spacing: 0.03em;
  color: #868e96;
}

/*----*---- 4.1.2 SEARCH INPUT ----*----*/

/*----*---- 4.1.3 SELECT INPUT ----*----*/
.input-select {
  display: inline-block;
  min-width: 100px;
  appearance: menulist;
  cursor: default;
  position: relative;
}
.selected-label {
  padding: 15px 50px 15px 30px;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  border-radius: 30px;
  text-align: start;
  cursor: default !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-options {
  position: absolute;
  top: 55px;
  left: 0;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  border-radius: 24px;
  z-index: 1;
  white-space: nowrap;
  padding: 10px;
}
.select-option-label {
  display: block;
  padding: 20px;
  border-radius: 10px;
}
.select-option-label:hover {
  background: #dee1e6;
}
.hide-options {
  display: none;
}
.hidden-option {
  display: none;
}
.input-disabled {
  color: #cfd4da;
}
/* BROWSER DEFAULT */
.select2-selection {
  border: 1px solid #cfd4da !important;
  height: auto !important;
  border-radius: 50px !important;
  padding: 12px 20px !important;
  margin-bottom: 30px !important;
}
.select2-selection .select2-selection__arrow {
  top: 15px !important;
  right: 23px !important;
}
/*----*---- 4.1.4 QUANTITY INPUT ----*----*/
.quantity-input {
  position: relative;
  display: inline-block;
}
.quantity-input .quantity {
  max-width: 120px;
  text-align: center;
  background: #f1f3f5;
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid #cfd4da;
  box-sizing: border-box;
}
.quantity-input .increase-quantity,
.quantity-input .decrease-quantity {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;
  background: transparent;
}
.quantity-input .increase-quantity span,
.quantity-input .decrease-quantity span {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  line-height: 25px;
  font-size: 30px;
  color: #868e96;
  background: #f1f3f5;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.quantity-input .increase-quantity span:hover,
.quantity-input .decrease-quantity span:hover {
  color: #20242a;
}
.quantity-input .increase-quantity {
  right: 12.5px;
}
.quantity-input .decrease-quantity {
  left: 12.5px;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*----*---- 4.1.5 ACCORDION MENU ----*----*/
.accordion {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 0;
}
.accordion .accordion-title {
  width: 100%;
  height: auto;
  margin-top: -1px;
  padding: 15px 20px;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion .accordion-title:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion .accordion-title:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordion .accordion-title:after {
  content: "\e900";
  font-family: "ebaskicim";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
}
.accordion .accordion-panel {
  display: block;
  padding: 20px;
  border: 1px solid #cfd4da;
  margin-top: -1px;
  line-height: 1.6em;
}
.accordion .accordion-panel:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordion .panel-hide {
  display: none;
}
.accordion .last-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.accordion .last-title:after {
  transform: rotate(180deg);
}
/*----*---- 4.1.6 TAB MENU ----*----*/
.tab-menu {
  width: 100%;
}
.tab-menu .tm-tabs {
  text-align: left;
}
.tab-menu .tm-tabs .tm-tab {
  min-width: 130px;
  text-align: center;
  display: inline-block;
  margin: 0 -6px -1px 0;
  padding: 15px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #cfd4da;
  background: #f1f3f5;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-menu .tm-tabs .tm-tab label {
  cursor: pointer;
}
.tab-menu .tm-tabs .tm-tab .tab-radio-hidden {
  display: none;
}
.tab-menu .tm-tabs .active-tab {
  border-bottom: 1px solid #fff;
  background: #fff !important;
}
.tab-menu .tm-tab-panel {
  display: none;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #cfd4da;
}
.tab-menu .active-panel {
  display: block;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: #cfd4da;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1f3f5;
  border: 1px solid #cfd4da;
  border-radius: 20px;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #dee1e6;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #ffd000;
  border: 1px solid #d5ad00;
}
.checkmark:after {
  content: "\e90b";
  font-family: "ebaskicim";
  position: absolute;
  display: none;
  left: -1px;
  top: -1px;
  font-size: 24px;
  color: #20242a;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.lightbox-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9999;
}
.lightbox-wrapper .curtain {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #20242a78;
  padding: 20px;
  cursor: zoom-out;
}
.lightbox-wrapper .lightbox {
  width: auto;
  max-width: 500px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
}
.lightbox-wrapper .lightbox .lightbox-title {
  margin: 30px 0;
}
.lightbox-wrapper .lightbox .lightbox-title:first-of-type {
  margin-top: 0 !important;
}
.lightbox-wrapper .lightbox .lightbox-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f1f3f5;
  border-radius: 10px;
  top: -10px;
  right: -10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
.lightbox-wrapper .lightbox .lightbox-close:hover {
  color: #20242a;
  background: #ffd000;
}
/*---- 4.2.0 BUTTONS ----*/
.button {
  width: auto;
  height: 50px;
  padding: 0 2em;
  border-radius: 50px;
  transition: background 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.button .icon {
  font-size: 24px;
  margin-left: 2em;
}
.button i[class$="-16"]:before {
  font-size: 16px;
  margin-top: -2px;
}
/*----*---- 4.2.1 PRIMARY BUTTON ----*----*/
.primary-button {
  background: #ffd000;
}
.primary-button:disabled {
  background: #f1f3f5 !important;
  color: #adb5bd !important;
}
.primary-button:hover {
  background: #ffda52;
}
/*----*---- 4.2.2 WHITE PRIMARY BUTTON ----*----*/
.white-primary-button {
  background: #fff;
}
.white-primary-button:hover {
  background: rgba(255, 255, 255, 0.8);
}
/*----*---- 4.2.3 SECONDARY BUTTON ----*----*/
.secondary-button {
  background: #f1f3f5;
}
.secondary-button:hover {
  background: #eaedef;
}
/*----*---- 4.2.4 GHOST BUTTON ----*----*/
.ghost-button {
  background: transparent;
}
.ghost-button:hover {
  background: #f1f3f5;
}
/*----*---- 4.2.5 REMOVE BUTTON ----*----*/
.remove-button {
  background: white;
  color: #e52046;
}
.remove-button:hover {
  color: #e52046;
  background: #ffd7d7;
}
/*----*---- 4.2.9 OTHER SIZES ----*----*/
.text-only {
  padding: 1em 2em;
  justify-content: center;
}
.icon-only {
  width: 50px;
  height: 50px;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}
.icon-only .icon {
  margin: 0;
}
.button-small {
  width: auto;
  height: 40px;
}
.text-only-button-small {
  width: auto;
  height: 40px;
  justify-content: center;
}
.icon-only-button-small {
  width: 40px;
  height: 40px;
  justify-content: center;
}
.icon-only-button-small .icon {
  margin: 0;
}
/* 4.0.0 INPUTS AND BUTTONS (END) */
/* 5.0.0 HEADER (START) */

.account-side-menu .hidden-side-menu-wrapper .go-to-profile-wrapper {
  display: block;
  padding: 15px 20px 20px 20px;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  color: #20242a;
  transition: all 0.4s;
  margin-bottom: 30px;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .go-to-profile-wrapper
  .account-username {
  margin-bottom: 5px;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .go-to-profile-wrapper
  .account-username
  .au-username-span {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 5px;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .go-to-profile-wrapper
  .account-username
  .ebaskicim-corporating-badge,
.account-side-menu
  .hidden-side-menu-wrapper
  .go-to-profile-wrapper
  .account-username
  .au-username-span {
  vertical-align: middle !important;
  display: inline-block;
}
.account-side-menu .hidden-side-menu-wrapper .go-to-profile-wrapper:after {
  content: "\e902";
  font-family: "ebaskicim";
  position: absolute;
  right: 20px;
  top: 38%;
  z-index: 1;
}
.account-side-menu .hidden-side-menu-wrapper .go-to-profile-wrapper:hover {
  background: #f1f3f5;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .side-menu-profile-navigation
  .side-menu-profile-navigation-item {
  list-style: none;
  width: 100%;
  height: auto;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .side-menu-profile-navigation
  .side-menu-profile-navigation-item
  a {
  display: block;
  padding: 15px 20px;
  transition: all 0.2s;
  text-decoration: none;
}
.account-side-menu
  .hidden-side-menu-wrapper
  .side-menu-profile-navigation
  .side-menu-profile-navigation-item
  a:hover {
  background: #f1f3f5;
  border-radius: 10px;
  text-decoration: none;
}
/* 5.0.0 HEADER (END) */
/* 6.0.0 INDEX (START) */
/*---- 6.1.0 BIG SLIDER ----*/
.slider-container {
  width: 100%;
  height: auto;
  position: relative;
  cursor: grab;
}
.slider-container:active {
  cursor: grabbing;
}
.slider-wrapper {
  overflow: hidden;
  border-radius: 10px;
}
.slider-wrapper .owl-item {
  float: left;
}
.big-slider-container {
  margin-top: 30px;
}
.big-slider-wrapper .owl-item {
  background: #ffd000;
}
.big-slider-title {
  font-size: 2.6em;
  line-height: 1.2em;
}
.big-slider-container:hover .big-slider-navigations,
.big-slider-container:hover .big-slider-dots {
  opacity: 1;
  right: 20px;
}
.big-slider-left-container {
  width: 40%;
  height: auto;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 70px 80px;
}
.big-slider-right-container {
  width: 60%;
  height: auto;
  float: left;
  font-size: 0;
}
.big-slider-right-container img {
  width: 100%;
  height: auto;
}
.big-slider-dots {
  position: absolute;
  z-index: 1;
  bottom: 20px;
}
.big-slider-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin-right: 5px;
  background: #fff;
  opacity: 0.5;
}
.big-slider-dots .active {
  opacity: 1;
}
.big-slider-navigations {
  position: absolute;
  top: 20px;
  z-index: 1;
}
.big-slider-navigations .disabled {
  color: #495058;
  cursor: auto;
}
.big-slider-prev,
.big-slider-next {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  border-radius: 20px;
}
.big-slider-navigations span {
  display: block;
  line-height: 20px !important;
  width: 30px;
  height: 30px;
}
.big-slider-prev {
  margin-right: 5px;
}
.big-slider-navigations,
.big-slider-dots {
  transition: all 0.2s;
  opacity: 0;
  right: 0;
}
.big-slider-description {
  line-height: 1.6em;
}
.big-slider-button {
  max-width: 250px;
}
/*---- 6.2.0 INTRODUCTION ----*/
.introduction {
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 30px;
}
.introduction-title {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.introduction-illustration {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.introduction-illustration img {
  width: 100%;
  height: auto;
}
.introduction-description {
  color: #868e96;
}
.introduction-row {
  margin: 30px 0;
}
.mobile-introduction-container {
  display: none;
}
.mobile-introduction-container .mobile-introduction {
  text-align: center;
  line-height: 1.6em;
}
/* 6.0.0 INDEX (END) */
/* 7.0.0 PAYMENT (START) */
/*---- 7.1.0 PAYMENT INPUTS ----*/
.credit-card-preview {
  position: relative;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  border-radius: 25px;
}
.credit-card-bottom-left,
.credit-card-top-right,
.credit-card-bottom-right {
  position: absolute;
  z-index: 1;
  color: #cfd4da;
}
.credit-card-bottom-left {
  left: 40px;
  bottom: 40px;
}
.credit-card-bottom-left .credit-card-number,
.credit-card-bottom-left .credit-card-expire-date,
.credit-card-bottom-left .credit-card-holder-name {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.6em;
}
.credit-card-bottom-left .credit-card-expire-date {
  text-align: right;
}
.credit-card-bottom-left .credit-card-holder-name {
  text-transform: uppercase;
  margin: 0;
}
.credit-card-top-right {
  right: 40px;
  top: 40px;
}
.credit-card-bottom-right {
  right: 40px;
  bottom: 40px;
}
.credit-card-bank-name {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.3em;
  text-align: right;
  text-transform: uppercase;
}
.credit-card-chip {
  width: 60px;
  height: 40px;
  margin-bottom: 20px;
  background: #dee1e6;
  border-radius: 10px;
}
.credit-card-payment-system-logo {
  text-align: left;
}
.payment-system-placeholder-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transform: rotate(45deg);
  display: inline-block;
}
.system-logo-square-one {
  background: #dee1e6;
}
.system-logo-square-two {
  background: #cfd4da;
  margin-left: -20px;
}
.entered-card-information {
  background: #ffefbc !important;
  border: 1px solid #ffefbc !important;
}
.entered-card-information .credit-card-bottom-left {
  color: #20242a !important;
}
.entered-card-information .credit-card-chip,
.entered-card-information .system-logo-square-two {
  background: #ffda52 !important;
}
.entered-card-information .credit-card-bank-name {
  color: #ffda52 !important;
}
.entered-card-information .system-logo-square-one {
  background: #ffe48c !important;
}
.payment-inputs-col .input-container {
  margin-bottom: 30px;
}
.expire-date-label {
  float: left;
  padding: 15px 0;
}
.expire-date-wrapper {
  margin-bottom: 30px;
}
.expire-inputs-section {
  float: right;
}
.cvc2-wrapper .input-container {
  max-width: 100px;
}
.credit-card-preview-wrapper {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
}
.flip-card {
  transform: rotateX(180deg);
}
.credit-card-front,
.credit-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.credit-card-back {
  transform: rotateX(180deg);
}
.credit-card-back-magnetic-bar,
.credit-card-back-middle,
.credit-card-back-bottom {
  position: absolute;
  z-index: 1;
}
.credit-card-back-magnetic-bar {
  width: 100%;
  height: 50px;
  background: #ffda52;
  top: 40px;
}
.credit-card-back-middle {
  width: 100%;
  height: 50px;
  top: calc(50% - 25px);
  text-align: left;
}
.credit-card-back-middle .credit-card-back-signature,
.credit-card-back-middle .credit-card-back-cvc2 {
  display: inline-block;
}
.credit-card-back-middle .credit-card-back-signature {
  width: 250px;
  height: 100%;
  background: #ffda52;
  vertical-align: middle;
  margin-left: 50px;
}
.credit-card-back-middle .credit-card-back-cvc2 {
  font-weight: 700;
  font-size: 1.2em;
  vertical-align: middle;
}
.credit-card-back-bottom {
  width: 100%;
  bottom: 40px;
}
.credit-card-back-bottom .credit-card-back-text,
.credit-card-back-bottom .credit-card-back-hologram {
  display: inline-block;
  vertical-align: middle;
}
.credit-card-back-bottom .credit-card-back-text {
  width: 250px;
  height: 10px;
  background: #ffda52;
  margin-right: 20px;
  margin-left: 50px;
}
.credit-card-back-bottom .credit-card-back-hologram {
  width: 80px;
  height: 55px;
  border-radius: 80px;
  background: #ffda52;
}
.tab-menu-wrapper {
  margin-top: 30px;
}
.tab-menu-wrapper .active-panel ul {
  line-height: 1.6em;
  color: #868e96;
}
.tab-menu-wrapper .active-panel ul li {
  list-style: circle;
  margin-left: 20px;
}
/* 7.0.0 PAYMENT (END) */
/* 8.0.0 CONTENT PRODUCT (START) */
.content-product-col {
  margin-bottom: 30px;
}
.woocommerce-LoopProduct-link,
.woocommerce-LoopProduct-link:hover {
  text-decoration: none;
}
.content-product {
  position: relative;
}
.ebaskicim-sale-flash {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 15px;
  background: #ffd000;
  border-radius: 20px;
  z-index: 1;
  font-weight: 700;
}
.content-product-title {
  margin-bottom: 10px;
  font-weight: 400 !important;
  color: #868e96;
}
.content-product-thumbnail {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s;
}
.content-product-thumbnail img {
  width: 100%;
  height: auto;
}
.content-product:hover .content-product-thumbnail {
  transform: scale(1.05);
}
.content-price {
  font-weight: 700;
  font-size: 1.2em;
}
.content-product-on-sale-price {
  color: #adb5bd;
  position: relative;
  padding: 0 2px 0 5px;
  margin-right: 5px;
}
.content-product-on-sale-price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ffd000;
  left: 0;
  bottom: 10px;
  z-index: 1;
}
.product-slider-container {
  margin-left: -15px;
  margin-right: -15px;
}
.product-slider-container
  .product-slider-wrapper
  .product-slider-items-wrapper {
  padding-top: 30px;
}
.product-slider-container .products-navigations .product-prev,
.product-slider-container .products-navigations .product-next {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.product-slider-container .products-navigations .product-prev {
  left: -30px;
}
.product-slider-container .products-navigations .product-next {
  right: -30px;
}
.product-slider-container .product-dots {
  position: absolute;
  top: 0;
  right: 15px;
}
.product-slider-container .product-dots .product-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #dee1e6;
  margin-left: 7px;
}
.product-slider-container .product-dots .active {
  background: #868e96;
}
.product-slider-container:hover .product-prev {
  opacity: 1;
  left: 30px;
}
.product-slider-container:hover .product-next {
  opacity: 1;
  right: 30px;
}
.product-slider-title {
  margin: 0 !important;
}
.content-price del {
  color: #adb5bd;
}
.content-price ins {
  text-decoration: none;
}
.content-price .amount {
  text-decoration: none;
}
/* 8.0.0 CONTENT PRODUCT (END) */
/* 9.0.0 PRODUCT (START) */
.product-row {
  margin-bottom: 30px;
}
.product-title {
  font-size: 1.3em;
  margin-bottom: 30px;
}
.product-page {
  margin: 30px auto;
}
.product-image-slider-wrapper {
  width: 100%;
  overflow: hidden;
}
.product-image-slider-wrapper .product-full-size-images-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
}
.product-image-slider-wrapper .product-full-size-images-wrapper .product-image {
  float: left;
  width: 100%;
  height: auto;
  font-size: 0;
  cursor: zoom-in;
}
.product-image-slider-wrapper
  .product-full-size-images-wrapper
  .product-image
  img {
  width: 100%;
  height: auto;
}
.product-image-slider-wrapper .product-thumbnails {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 40px;
}
.product-image-slider-wrapper .product-thumbnails .product-thumbnail {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 10px;
  opacity: 0.5;
  vertical-align: middle;
  transition: all 0.2s;
  cursor: pointer;
}
.product-image-slider-wrapper .product-thumbnails .product-thumbnail img {
  width: 100%;
  height: 100%;
}
.product-image-slider-wrapper .product-thumbnails .product-thumbnail:hover {
  opacity: 1 !important;
  transform: scale(1.5);
  transform-origin: 50% 50%;
  position: relative;
  z-index: 1;
}
.product-image-slider-wrapper .product-thumbnails .active-thumbnail {
  opacity: 1 !important;
  position: relative;
  z-index: 2;
  margin: 0 20px;
  transform: scale(2);
  transform-origin: 50% 50%;
}
.product-image-slider-wrapper .product-thumbnails .active-thumbnail:hover {
  transform: scale(2);
}
.product-image-slider-wrapper .product-thumbnails .thumbnail-arrows {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f3f5;
  border-radius: 30px;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 24px;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-image-slider-wrapper .product-thumbnails .thumbnail-arrows:hover {
  transform: scale(1.5);
  background: #eaedef;
}
.product-price-wrapper {
  margin-bottom: 50px;
}
.product-price-wrapper .product-price {
  display: inline-block;
  position: relative;
}
.product-price-wrapper .product-price .ebaskicim-simple-price del,
.product-price-wrapper .product-price .ebaskicim-variable-price del {
  color: #868e96;
}
.product-price-wrapper .product-price .ebaskicim-simple-price del .amount,
.product-price-wrapper .product-price .ebaskicim-variable-price del .amount {
  font-size: 1.2em;
  color: #868e96;
  display: block;
  margin-bottom: 5px;
}
.product-price-wrapper .product-price .ebaskicim-simple-price ins,
.product-price-wrapper .product-price .ebaskicim-variable-price ins {
  text-decoration: none;
}
.product-price-wrapper .product-price .ebaskicim-simple-price .amount,
.product-price-wrapper .product-price .ebaskicim-variable-price .amount {
  text-decoration: none;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}
.product_meta {
  margin-top: 30px;
  color: #868e96;
}
.product_meta a {
  color: #868e96;
  text-decoration: underline;
}
.product_meta a:hover {
  color: #343a40;
  text-decoration: underline;
}
.product_meta .sku_wrapper {
  margin-right: 30px;
}
.product_meta .sku_wrapper .sku {
  font-weight: bold;
}
.related-title {
  margin-bottom: 30px;
}
.similar-products-wrapper {
  margin-bottom: 30px;
}
.new-price-value {
  animation: new-price 0.5s;
}
@keyframes new-price {
  from {
    color: #ffd000;
    transform: scale(1.5);
  }
  to {
    color: #20242a;
    transform: scale(1);
  }
}
.woocommerce-variation-price {
  display: none;
}
.ebaskicim-product-variations-wrapper {
  margin: 50px 0;
}
.ebaskicim-product-variations-wrapper
  .ebaskicim-product-variation
  .ebaskicim-variation-label {
  margin-bottom: 20px;
  color: #868e96;
}
.ebaskicim-product-variations-wrapper
  .ebaskicim-product-variation
  .ebaskicim-variation-select
  select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px 50px 15px 20px;
  border: 1px solid #cfd4da;
  border-radius: 10px;
  outline: none;
}
.ebaskicim-product-variations-wrapper
  .ebaskicim-product-variation
  .ebaskicim-variation-select
  select:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ebaskicim-product-variations-wrapper
  .ebaskicim-product-variation
  .ebaskicim-variation-select
  .reset_variations {
  margin-left: 10px;
  color: #adb5bd;
}
.woocommerce-variation-add-to-cart,
.ebaskicim-simple-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.woocommerce-variation-add-to-cart .quantity-input,
.ebaskicim-simple-button-wrapper .quantity-input {
  margin-right: 30px;
}
.woocommerce-variation-add-to-cart .wc-variation-selection-needed,
.ebaskicim-simple-button-wrapper .wc-variation-selection-needed {
  background: #f1f3f5;
  color: #adb5bd;
  cursor: not-allowed;
}
.stock {
  margin-bottom: 30px;
  font-weight: 700;
}
.out-of-stock {
  color: #e52046;
}
/****** 9.2.0 Special Design Upload ******/
#customdesign {
  display: none;
}
.file-upload-field,
.uploaded-file-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #f1f3f5;
  color: #20242a;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #cfd4da;
  position: relative;
  margin-top: 30px;
  outline: 2px dashed #cfd4da;
  outline-offset: -15px;
  transition: all 0.1s;
}
.file-upload-field {
  overflow: hidden;
  color: #868e96;
  cursor: pointer;
}
.file-upload-field:hover {
  outline-color: #adb5bd;
}
.file-error {
  background: #ffd7d7 !important;
  outline: 2px dashed #e52046 !important;
  border: 0 !important;
  color: #e52046 !important;
}
.file-error:hover {
  opacity: 0.8;
}
.uploaded-file-field {
  display: none;
}
.custom-file-name {
  position: relative;
  z-index: 1;
}
.upload-percent {
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.uploaded-file-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffd000;
  height: 50px;
  max-width: 50%;
  padding: 0 2em;
  cursor: default;
  border-radius: 10px;
  margin-top: 30px;
}
.uploaded-file-button:hover {
  background: #ffda52;
}
.uploaded-file-name {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.remove-uploaded-file {
  font-size: 18px;
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px;
}
.uploaded-file-title {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 0.9em;
}
.percent-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(134, 142, 150, 0.08);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 0;
}
.custom-design-wrapper p {
  color: #868e96;
}
.custom-design-list {
  margin-top: 10px;
}
.custom-design-list li {
  list-style: circle;
  margin-left: 20px;
  line-height: 1.6em;
  color: #868e96;
}
/* 9.0.0 PRODUCT (END) */
/* 10.0.0 CART (END) */
.cart-container {
  margin: 30px auto;
  min-height: 60vh;
}
.cart-table {
  width: 100%;
  height: auto;
  border: 1px solid #cfd4da;
  border-radius: 10px;
  border-collapse: separate !important;
  overflow: hidden;
}
.cart-table thead tr {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f1f3f5;
  border-collapse: separate !important;
}
.cart-table thead tr td {
  font-weight: 700;
  padding: 20px 10px;
  border-bottom: 1px solid #cfd4da;
}
.cart-table tbody tr td {
  padding: 20px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #cfd4da;
}
.cart-table tbody tr:last-child td {
  border: 0;
}
.cart-table tbody tr .cart-thumbnail-cell a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0px;
}
.cart-table tbody tr .cart-thumbnail-cell a img {
  width: 100%;
  height: 100%;
}
.cart-table tbody tr .cart-price-cell,
.cart-table tbody tr .cart-subtotal-cell {
  font-weight: 700;
}
.cart-totals {
  width: 100%;
  height: auto;
  padding: 30px;
  background: #f1f3f5;
  border-radius: 10px;
  border: 1px solid #cfd4da;
  margin-bottom: 30px;
}
.cart-totals li {
  display: block;
  border-bottom: 1px dashed #adb5bd;
  padding: 30px 0;
}
.cart-totals li:first-child {
  padding-top: 0;
}
.cart-totals li:last-child {
  border: 0;
  padding-bottom: 0;
}
.cart-totals li .cart-totals-head,
.cart-totals li .cart-totals-content {
  display: inline-block;
  width: 49%;
}
.cart-totals li .cart-totals-head {
  text-align: left;
  color: #868e96;
}
.cart-totals li .cart-totals-content {
  text-align: right;
  font-weight: 700;
}
.cart-totals li .cart-total-head {
  color: #20242a;
}
.empty-cart-container {
  margin: 30px auto;
  min-height: 50vh;
}
/* 10.0.0 CART (END) */
/* 11.0.0 CHECKOUT (START) */
.woocommerce-billing-fields input[type="text"],
.woocommerce-shipping-fields input[type="text"],
.woocommerce-billing-fields input[type="email"],
.woocommerce-shipping-fields input[type="email"],
.woocommerce-billing-fields input[type="tel"],
.woocommerce-shipping-fields input[type="tel"] {
  padding: 15px 20px;
}
.woocommerce-billing-fields label,
.woocommerce-shipping-fields label {
  display: block;
  margin: 20px 0;
  color: #868e96;
}
#billing_first_name_field,
#billing_last_name_field,
#billing_phone_field,
#billing_email_field,
#billing_postcode_field,
#billing_city_field,
#billing_company_field,
#billing_country_field,
#shipping_first_name_field,
#shipping_last_name_field,
#shipping_phone_field,
#shipping_email_field,
#shipping_postcode_field,
#shipping_city_field,
#shipping_company_field,
#shipping_country_field {
  display: inline-block;
  width: 47%;
}
#billing_state_field,
#shipping_state_field {
  width: 47%;
}
#billing_first_name_field,
#billing_phone_field,
#billing_postcode_field,
#billing_company_field,
#shipping_first_name_field,
#shipping_phone_field,
#shipping_postcode_field,
#shipping_company_field {
  margin-right: 30px;
}
.checkout-address-summary-wrapper {
  margin: 30px 0;
}
.checkout-address-summary-wrapper .checkout-billing-address-summary {
  border: 3px solid #ffd000;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
.checkout-address-summary-wrapper
  .checkout-billing-address-summary
  .checkout-billing-address-title {
  margin-bottom: 20px;
}
.checkout-address-summary-wrapper
  .checkout-billing-address-summary
  .billing-summary-fields
  li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
.checkout-address-summary-wrapper
  .checkout-billing-address-summary
  .billing-summary-fields
  .checkbox-billing-address-summary-bottom-fields {
  margin-bottom: 0;
}
.checkout-address-summary-wrapper
  .checkout-billing-address-summary
  .billing-summary-fields
  .summary-field-title {
  font-size: 0.8em;
  margin-bottom: 7px;
  color: #868e96;
}
.checkout-address-summary-wrapper
  .checkout-billing-address-summary
  .billing-summary-fields
  .summary-field-content {
  font-weight: 700;
}
.checkout-address-summary-wrapper .checkout-add-new-address {
  cursor: pointer;
  height: 100%;
  border: 3px dashed #cfd4da;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ship-to-different-address-checkbox {
  display: none;
}
.ship-to-different_address-title {
  display: inline-block;
  color: #20242a;
  font-size: 1.2em;
  margin-top: 30px;
  cursor: pointer;
}
.checked-different-address {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #f1f3f5;
  margin-left: 20px;
  vertical-align: middle;
  border-radius: 20px;
  border: 1px solid #cfd4da;
}
#ship-to-different-address-checkbox:checked + span .checked-different-address {
  background: #ffd000;
  border: 1px solid #d5ad00;
  position: relative;
}
#ship-to-different-address-checkbox:checked
  + span
  .checked-different-address:after {
  content: "\e90b";
  font-family: "ebaskicim";
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 24px;
}
.woocommerce-input-wrapper {
  display: block;
}
.woocommerce-input-wrapper textarea {
  width: 100%;
  height: auto;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  border-bottom-right-radius: 0;
}
.billing-details-title {
  font-size: 1.4em;
  margin-top: 30px;
}
.checkout-container {
  margin-top: 30px;
}
.payment-breadcrumb-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-breadcrumb-wrapper .breadcrumb-item {
  position: relative;
  width: 350px;
}
.payment-breadcrumb-wrapper .breadcrumb-item .breadcrumb-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
  border-radius: 80px;
  font-size: 24px;
}
.payment-breadcrumb-wrapper .breadcrumb-item .breadcrumb-active {
  background: #ffd000;
  border: 1px solid #d5ad00;
}
.payment-breadcrumb-wrapper .breadcrumb-item .breadcrumb-text {
  width: 50px;
  text-align: center;
  margin-top: 10px;
}
.payment-breadcrumb-wrapper .breadcrumb-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 23px;
  right: 15px;
  width: calc(100% - 30px);
  height: 5px;
  border-width: 0 5px 0 0;
  border-bottom: dashed #dee1e6;
  z-index: -1;
}
.payment-breadcrumb-wrapper .breadcrumb-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-width: 0 5px 5px 0;
  border-bottom: solid #dee1e6;
  border-right: solid #dee1e6;
  z-index: -1;
  transform: rotate(-45deg);
}
.payment-breadcrumb-wrapper .breadcrumb-item:last-child {
  width: auto;
}
.payment-breadcrumb-wrapper .breadcrumb-item:last-child:after,
.payment-breadcrumb-wrapper .breadcrumb-item:last-child:before {
  display: none;
}
.payment-breadcrumb-wrapper .active-payment-breadcrumb-line:before {
  border-color: #ffd000;
}
.payment-breadcrumb-wrapper .active-payment-breadcrumb-line:after {
  border-bottom: dashed #ffd000;
}
.payment-breadcrumb-wrapper a {
  text-decoration: none;
}
.cart-thank-you-container {
  margin: 30px auto;
}
.woocommerce-thankyou-order-received {
  font-size: 2em;
  font-weight: 700;
  color: #23e27d;
  margin: 50px 0 20px 0;
  border-radius: 10px;
  text-align: left;
}
.thank-you-subtitle {
  text-align: left;
  margin-bottom: 80px;
}
.woocommerce-order-details {
  width: 100%;
  border-radius: 10px;
}
.woocommerce-order-details .order_details {
  width: 100%;
}
.woocommerce-order-details thead th {
  padding: 20px;
  background: #f1f3f5;
  border-bottom: 1px solid #cfd4da;
  border-top: 1px solid #cfd4da;
}
.woocommerce-order-details thead th:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid #cfd4da;
}
.woocommerce-order-details thead th:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid #cfd4da;
}
.woocommerce-order-details tbody td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px dashed #cfd4da;
  border-right: 1px solid #cfd4da;
  border-left: 1px solid #cfd4da;
  background: #f1f3f5;
}
.woocommerce-order-details tbody .product-total {
  font-weight: bold;
}
.woocommerce-order-details tfoot td,
.woocommerce-order-details tfoot th {
  padding: 20px;
  text-align: left;
  background: #f1f3f5;
  border-bottom: 1px solid #cfd4da;
  border-left: 1px solid #cfd4da;
  border-right: 1px solid #cfd4da;
}
.woocommerce-order-details tfoot tr td {
  font-weight: 700;
}
.woocommerce-order-details tfoot tr:last-child th {
  border-bottom-left-radius: 10px;
}
.woocommerce-order-details tfoot tr:last-child td {
  border-bottom-right-radius: 10px;
}
.woocommerce-order-details .woocommerce-order-details__title {
  text-align: left;
  font-weight: bold;
  margin: 20px 0;
}
.thank-you-order-information {
  width: 100%;
  height: auto;
  padding: 30px;
  background: #f1f3f5;
  border-radius: 10px;
  border: 1px solid #cfd4da;
  margin-bottom: 30px;
}
.thank-you-order-information li {
  display: block;
  border-bottom: 1px dashed #adb5bd;
  padding: 20px 0;
}
.thank-you-order-information li:first-child {
  padding-top: 0;
}
.thank-you-order-information li:last-child {
  border: 0;
  padding-bottom: 0;
}
.thank-you-order-information li .thank-you-order-information-head,
.thank-you-order-information li .thank-you-order-information-content {
  display: inline-block;
  width: 49%;
}
.thank-you-order-information li .thank-you-order-information-head {
  text-align: left;
  color: #868e96;
}
.thank-you-order-information li .thank-you-order-information-content {
  text-align: right;
  font-weight: 700;
}
.thank-you-order-information li .thank-you-order-information-head {
  color: #20242a;
}
/* 11.0.0 CHECKOUT (END) */
/* 12.0.0 OTHER (START) */
.scroll-hide {
  touch-action: none;
  -ms-touch-action: none;
  overflow-y: hidden;
}
.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}
.woocommerce-notices-wrapper .notices,
.woocommerce-NoticeGroup .notices {
  border-radius: 10px;
  padding: 20px 80px 20px 30px;
  color: #fff;
  right: 0;
  opacity: 0.8;
  position: relative;
  transition: all 0.4s;
}
.woocommerce-notices-wrapper .notices:hover,
.woocommerce-NoticeGroup .notices:hover {
  opacity: 1;
}
.woocommerce-notices-wrapper .notices .close-notice,
.woocommerce-NoticeGroup .notices .close-notice {
  position: absolute;
  right: 20px;
  top: 38%;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.woocommerce-notices-wrapper .notices .wc-forward,
.woocommerce-NoticeGroup .notices .wc-forward {
  display: none;
}
.woocommerce-notices-wrapper .ebaskicim-notice,
.woocommerce-NoticeGroup .ebaskicim-notice {
  background: #f9b02d;
}
.woocommerce-notices-wrapper .ebaskicim-error,
.woocommerce-NoticeGroup .ebaskicim-error {
  background: #e52046;
  margin-bottom: 10px;
}
.woocommerce-notices-wrapper .ebaskicim-success,
.woocommerce-NoticeGroup .ebaskicim-success {
  background: #23e27d;
}
.woocommerce-notices-wrapper .hide-notices,
.woocommerce-NoticeGroup .hide-notices {
  transform: scale(0.8);
  right: -400px;
  opacity: 0 !important;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #20242a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 16px;
  font-weight: 400;
}
.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.mobile-view {
  display: none !important;
}
.menu-accordion-wrapper {
  width: 100%;
}
.menu-accordion-wrapper .menu-accordion-title {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #cfd4da;
  position: relative;
}
.menu-accordion-wrapper .menu-accordion-title:last-of-type {
  border: 0;
}
.menu-accordion-wrapper .menu-accordion-title:after {
  content: "\e900";
  font-family: "ebaskicim";
  position: absolute;
  right: 20px;
  top: 50% -20px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-accordion-wrapper .title-open:after {
  transform: rotate(180deg);
}
.menu-accordion-wrapper .menu-accordion-content {
  width: 100%;
  background: #f1f3f5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-accordion-wrapper .menu-accordion-content .menu-accordion .menu-item {
  position: relative;
}
.menu-accordion-wrapper .menu-accordion-content .menu-accordion .menu-item a {
  display: block;
  padding: 20px 50px 20px 20px;
  border-bottom: 1px solid #cfd4da;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-accordion-wrapper
  .menu-accordion-content
  .menu-accordion
  .menu-item:after {
  content: "\e902";
  font-family: "ebaskicim";
  position: absolute;
  right: 20px;
  top: 38%;
  font-size: 16px;
  z-index: 1;
}
.menu-accordion-wrapper .content-open {
  display: none;
}
.hidden-side-menu-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hidden-side-menu-container .hidden-side-menu-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  opacity: 1;
  background: #fff;
  z-index: 1;
  padding: 20px;
  overflow-y: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.hidden-side-menu-container .hidden-side-menu-wrapper .button {
  margin-bottom: 10px;
}
.hidden-side-menu-container .hidden-side-menu-wrapper .hidden-side-menu-title {
  margin: 50px 0 20px 0;
}
.hidden-side-menu-container .hidden-side-menu-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.hidden-side-menu-container .hidden-side-menu-close-button {
  position: absolute;
  color: #fff;
  z-index: 1;
}
.hidden-side-menu-container .hidden-side-menu-buttons-wrapper {
  margin-top: 30px;
}
.hide-left-side-menu {
  display: none;
}
.hide-left-side-menu .hidden-side-menu-wrapper {
  left: -500px;
  opacity: 0;
}
.hide-right-side-menu {
  display: none;
}
.hide-right-side-menu .hidden-side-menu-wrapper {
  right: -500px;
  opacity: 0;
}
.hidden-right-side-menu .hidden-side-menu-wrapper {
  width: 400px;
  right: 0;
}
.hidden-right-side-menu .hidden-side-menu-close-button {
  top: 20px;
  right: 420px;
}
.hidden-left-side-menu .hidden-side-menu-wrapper {
  width: 400px;
  left: 0;
}
.hidden-left-side-menu .hidden-side-menu-close-button {
  top: 20px;
  left: 420px;
}
.hidden-mobile-side-menu .hidden-side-menu-wrapper {
  width: 80%;
}
.hidden-mobile-side-menu .hidden-side-menu-close-button {
  top: 20px;
  right: 20px;
}
/* 12.0.0 OTHER (END) */
/* 13.0.0 ACCOUNT (START) */
.account-container {
  max-width: 1000px !important;
  margin-top: 30px;
}
.account-container .account-row .woocommerce-MyAccount-navigation {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #f1f3f5;
  border: 1px solid #cfd4da;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-name {
  padding: 30px 30px 20px 30px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-name
  span {
  font-weight: 700;
  font-size: 1.2em;
  vertical-align: middle;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-name
  .ebaskicim-corporating-badge {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-navigation
  li
  a {
  display: block;
  padding: 20px 30px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-navigation
  li
  a:hover {
  background: #eaedef;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-navigation
  li:last-child {
  padding-bottom: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-navigation
  .profile-navigation
  .is-active
  a {
  background: #eaedef;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order {
  margin-bottom: 30px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-thumbnail,
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-title,
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-price-and-number,
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-status {
  margin-bottom: 20px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-thumbnail
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-thumbnail:hover {
  transform: scale(1.05);
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-status
  .ebaskicim-order-value {
  display: inline-block;
  color: #20242a;
  background: #f1f3f5;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.1em;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-small-title {
  color: #868e96;
  margin-bottom: 5px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-value {
  font-size: 1.2em;
  font-weight: 700;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .ebaskicim-order-price-and-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-orders-wrapper
  .ebaskicim-order
  .account-order-button {
  margin-bottom: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .input-container
  em {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  color: #adb5bd;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .input-description {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #adb5bd;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .account-details-title {
  margin-bottom: 30px;
  margin-left: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  label {
  display: block;
  margin-bottom: 10px !important;
  margin-left: 10px;
  color: #adb5bd;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .form-row {
  margin-bottom: 30px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .form-row
  input[type="text"],
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .form-row
  input[type="tel"],
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .form-row
  input[type="email"] {
  padding: 15px 30px !important;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address {
  margin: 30px 0;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address
  .account-address-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid #cfd4da;
  padding: 20px;
  border-radius: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address
  .account-address-wrapper
  .edit {
  font-weight: 400;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address
  .account-address-wrapper
  .address-title {
  margin-bottom: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address
  .account-address-wrapper
  .account-address-small {
  color: #868e96;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .woocommerce-Address
  .account-address-wrapper
  .account-address-content {
  font-weight: 700;
  line-height: 1.6em;
  margin-bottom: 10px;
}
.account-container
  .account-row
  .woocommerce-MyAccount-content
  .address-description {
  color: #868e96;
}
.login-container {
  max-width: 1000px !important;
  margin-top: 50px;
}
.login-container .woocommerce-form-login__submit,
.login-container .woocommerce-form-register__submit {
  width: 100%;
}
.login-container .lost_password {
  margin-top: 20px;
}
.login-container .log-reg-wrapper {
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #cfd4da;
  border-radius: 10px;
}
/* 13.0.0 ACCOUNT (END) */
/* 14.0.0 FOOTER (START) */
.footer {
  padding-top: 50px;
  margin-top: 30px;
  border-top: 1px solid #cfd4da;
}
.footer .footer-title {
  margin-bottom: 20px;
}
.footer .footer-menu li {
  margin-bottom: 10px;
}
.footer .footer-bottom-wrapper {
  border-top: 1px solid #cfd4da;
  margin-top: 50px;
}
.footer .footer-bottom-wrapper .footer-bottom-row {
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-bottom-wrapper .footer-bottom-row .footer-bottom-left .credits {
  color: #adb5bd;
  font-size: 0.9em;
}
.footer .footer-bottom-wrapper .footer-bottom-row .footer-bottom-right {
  height: 20px;
}
.footer .footer-bottom-wrapper .footer-bottom-row .footer-bottom-right img {
  width: auto;
  height: 100%;
}
.footer .social-media-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer .social-media-wrapper .social-media-item {
  margin-left: 10px;
}
.footer .safety-shopping-badge {
  width: auto;
  height: 40px;
  text-align: right;
}
.footer .safety-shopping-badge img {
  width: auto;
  height: 100%;
}
/* 14.0.0 FOOTER (END) */
/* 15.0.0 CATEGORY (START) */
.category-container {
  margin-top: 30px;
}
/* 15.0.0 CATEGORY (END) */
/* 16.0.0 MOBILE (START) */
.mobile-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #cfd4da;
  padding: 0 20px;
  position: relative;
}
.mobile-header .mobile-header-left,
.mobile-header .mobile-header-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mobile-header .mobile-header-left .menu-icon-wrapper {
  margin-right: 10px;
}
.mobile-header .mobile-header-left .menu-icon-wrapper .icon {
  font-size: 24px;
}
.mobile-header .mobile-header-left .mobile-logo {
  margin: 0 !important;
  width: 150px;
  height: auto;
}
.mobile-header .mobile-header-left .mobile-logo img {
  width: 100%;
  height: auto;
}
.mobile-header .mobile-header-right .button:first-child {
  margin-right: 10px;
}
.mobile-header .mobile-search-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.mobile-header .mobile-search-wrapper #mobile-search {
  display: block;
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 0 !important;
  border: 0 !important;
}
.mobile-header .mobile-search-wrapper .mobile-search-button-wrapper {
  position: absolute;
  right: 20px;
  top: 30%;
  z-index: 1;
  font-size: 24px;
  color: #adb5bd;
}
.mobile-header .hidden-ms-input {
  display: none;
}
/* 16.0.0 MOBILE (END) */
/* 17.0.0 PAGE (START) */
.page-container {
  max-width: 800px !important;
  min-height: 60vh;
  margin: 30px auto;
}
.page-container .page-title {
  width: 100%;
  display: block;
  font-size: 1.8em;
  margin-bottom: 15px;
}
.page-container .page-content {
  line-height: 1.6em;
}
/* 17.0.0 PAGE (END) */
@media screen and (max-width: 1500px) {
  .container-xl,
  .main-menu-sub-categories-wrapper {
    max-width: 1100px !important;
  }
  .main-menu .main-menu-item .main-menu-parent-category {
    padding: 15px !important;
  }
  .sub-category-item-thumbnail {
    width: 175px !important;
    height: 175px !important;
  }
}
@media screen and (max-width: 1200px) {
  .container-xl,
  .main-menu-sub-categories-wrapper {
    max-width: 900px !important;
  }
  .search-form {
    width: 300px !important;
  }
  .main-menu .main-menu-item .main-menu-parent-category {
    padding: 10px !important;
    font-size: 0.9em !important;
  }
  .sub-category-item-thumbnail {
    width: 136px !important;
    height: 136px !important;
  }
}
@media screen and (max-width: 991px) {
  .container-xl {
    max-width: 100% !important;
  }
  .products-navigations {
    display: none !important;
  }
  .content-product:hover .content-product-thumbnail {
    transform: none !important;
  }
  .product-dots {
    width: 100% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    right: 0 !important;
  }
  .footer {
    padding-top: 0 !important;
  }
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
  .mobile-header {
    display: flex !important;
  }
  .main-menu,
  .big-slider-navigations,
  .product-dots,
  .mobile-introduction-navigations,
  .mobile-introduction-dots {
    display: none !important;
  }
  .footer-bottom-wrapper {
    padding: 0 20px;
    margin: 0 !important;
    border: 0 !important;
  }
  .main-title {
    padding: 0 20px !important;
    line-height: 1.3em;
  }
}
@media screen and (max-width: 767px) {
  .big-slider-left-container,
  .big-slider-right-container {
    float: none !important;
    width: 100% !important;
  }
  .big-slider-dots {
    opacity: 1 !important;
    bottom: 20px !important;
    left: 50px !important;
  }
  .big-slider-container {
    margin: 0 0 10px 0 !important;
  }
  .big-slider-wrapper {
    border-radius: 0 !important;
  }
  .introduction {
    display: none !important;
  }
  .mobile-introduction-container {
    display: block !important;
  }
  .big-slider-title,
  .big-slider-description {
    margin-bottom: 15px;
  }
  .big-slider-left-container {
    padding: 50px 20px !important;
  }
  .login-container .log-reg-wrapper {
    border: 0 !important;
    padding: 0 !important;
    margin-bottom: 30px !important;
  }
  #billing_first_name_field,
  #billing_last_name_field,
  #billing_phone_field,
  #billing_email_field,
  #billing_postcode_field,
  #billing_city_field,
  #billing_company_field,
  #billing_country_field,
  #shipping_first_name_field,
  #shipping_last_name_field,
  #shipping_phone_field,
  #shipping_email_field,
  #shipping_postcode_field,
  #shipping_city_field,
  #shipping_company_field,
  #shipping_country_field,
  #billing_state_field,
  #shipping_state_field {
    width: 100% !important;
  }
}
@media screen and (max-width: 479px) {
  .footer-bottom-row {
    flex-direction: column;
    justify-content: center !important;
  }
  .footer-bottom-row .footer-bottom-left {
    order: 2;
  }
  .footer-bottom-row .footer-bottom-right {
    order: 1;
    margin-bottom: 10px;
  }
  .main-title,
  .big-slider-title {
    font-size: 1.6em !important;
  }
  .payment-breadcrumb-wrapper .breadcrumb-item {
    width: 110px !important;
  }
  .payment-breadcrumb-wrapper .breadcrumb-item:last-child {
    width: auto !important;
  }
}
