@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("../fonts/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf")
    format("truetype");
}

.icon {
  display: inline-block;
  flex: none;
  flex-grow: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  &:before {
    flex: none;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}

.icon-close:before {
  content: "close";
}

.icon-cart:before {
  content: "shopping_cart";
}

.icon-person:before {
  content: "person";
}

.icon-search:before {
  content: "search";
}

.icon-arrow-left:before {
  content: "arrow_left_alt";
}

.icon-arrow-right:before {
  content: "arrow_right_alt";
}

.icon-chevron-right:before {
  content: "keyboard_arrow_right";
}

.icon-chevron-down:before {
  content: "keyboard_arrow_down";
}

.icon-chevron-left:before {
  content: "keyboard_arrow_left";
}

.icon-chevron-up:before {
  content: "keyboard_arrow_up";
}

.icon-check:before {
  content: "check";
}

.icon-plus:before {
  content: "add_2";
}

.icon-minus:before {
  content: "remove";
}

.icon-ruler-triangle:before {
  content: "square_foot";
}

.icon-colors:before {
  content: "colors";
}

.icon-scissors:before {
  content: "content_cut";
}

.icon-layers:before {
  content: "auto_awesome_motion";
}

.icon-logout:before {
  content: "logout";
}
