@mixin base-font {
  font-family: "Manrope", sans-serif;
}

@mixin text-xs {
  font-size: var(--text-xs);
  line-height: 140%;
  letter-spacing: 0.04em;
}

@mixin text-sm {
  font-size: var(--text-sm);
  line-height: 140%;
  letter-spacing: 0.02em;
}

@mixin text-md {
  font-size: var(--text-md);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-lg {
  font-size: var(--text-lg);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-xl {
  font-size: var(--text-xl);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-2xl {
  font-size: var(--text-2xl);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin display-sm {
  font-size: var(--text-3xl);
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 800;
}

@mixin display-md {
  font-size: var(--text-4xl);
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin display-lg {
  font-size: var(--text-5xl);
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 800;
}

@mixin display-xl {
  font-size: var(--text-6xl);
  line-height: 100%;
  letter-spacing: -0.04em;
  font-weight: 800;
}

.paragraph-regular {
  font-weight: 400;
}
.paragraph-medium {
  font-weight: 600;
}
.paragraph-bold {
  font-weight: 800;
}

.paragraph-xs {
  @include text-xs;
}

.paragraph-sm {
  @include text-sm;
}

.paragraph-md {
  @include text-md;
}

.paragraph-lg {
  @include text-lg;
}

.paragraph-xl {
  @include text-xl;
}

.paragraph-2xl {
  @include text-2xl;
}

.display-sm {
  @include display-sm;
}

.display-md {
  @include display-md;
}

.display-lg {
  @include display-lg;
}

.display-xl {
  @include display-xl;
}
