@mixin text-xs {
  font-size: var(--text-xs);
  line-height: 140%;
  letter-spacing: 0.04em;
}

@mixin text-sm {
  font-size: var(--text-sm);
  line-height: 140%;
  letter-spacing: 0.02em;
}

@mixin text-md {
  font-size: var(--text-md);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-lg {
  font-size: var(--text-lg);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-xl {
  font-size: var(--text-xl);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-2xl {
  font-size: var(--text-2xl);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin display-sm {
  font-size: var(--text-3xl);
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 800;
}

@mixin display-md {
  font-size: var(--text-4xl);
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin display-lg {
  font-size: var(--text-5xl);
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 800;
}

@mixin display-xl {
  font-size: var(--text-6xl);
  line-height: 100%;
  letter-spacing: -0.04em;
  font-weight: 800;
}
