@use "typography";
@use "icons";

// 14.1.0 input radius

$input-radius: 7px;

// 14.2.0 input field wrapper

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
  width: 100%;
  max-width: 500px;
  flex: none;
  flex-grow: 0;

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 100%;
    flex: none;
    flex-grow: 0;
    margin: 0;

    .password-input {
      position: relative;

      .show-password-input {
        width: 24px;
        background-color: transparent;
        border: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        right: 0;
        top: 0;
        padding: 0 12px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0;
        color: var(--color-gray-400);
        font-size: 16px;
        line-height: 16px;
        @extend .icon;

        &:before {
          @extend .icon-eye;
        }
      }

      .display-password {
        @extend .icon;

        &:before {
          @extend .icon-eye-off;
        }
      }
    }

    label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-gray-900);
      flex: none;
      flex-grow: 0;
    }

    .input-wrapper,
    .woocommerce-input-wrapper,
    .password-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 6px;
      width: 100%;
    }

    .supporting-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-gray-500);
      flex: none;
      align-self: stretch;
      flex-grow: 0;
    }

    .woocommerce-password-strength,
    .woocommerce-password-hint {
      @extend .supporting-text;
    }

    .short,
    .bad {
      color: var(--color-error-500);
    }

    .strong {
      color: var(--color-success-500);
    }

    .checkout-inline-error-message {
      @include typography.base-font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-error-500);
      flex: none;
      align-self: stretch;
      flex-grow: 0;
      margin: 0;
      padding: 0;
    }
  }

  wc-order-attribution-inputs {
    display: none;
  }

  .woocommerce-privacy-policy-text {
    @include typography.base-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    a {
      color: var(--color-gray-900);
      text-decoration: underline;

      &:hover {
        color: var(--color-gray-600);
        text-decoration: underline;
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .login-remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 16px;
    }

    a {
      color: var(--color-gray-900);
      text-decoration: none;

      &:hover {
        color: var(--color-gray-600);
        text-decoration: underline;
      }
    }
  }
}

// 14.3.0 input text field

.input-text {
  padding: 0 calc(var(--spacing) * 20);
  width: 100%;
  height: calc(var(--spacing) * 40);
  background: var(--color-gray-100);
  border-radius: 20px;
  flex-grow: 0;
  @include typography.text-md;
  color: var(--color-gray-900);

  &:focus {
    background: var(--color-primary-50);
    outline: 1px solid var(--color-primary-400) !important;
  }

  &::placeholder {
    color: var(--color-gray-500);
  }
}

.input-text-multiline {
  height: auto;
  max-width: 100%;
  min-height: 100px;
  padding: 15px 20px;
  border-radius: 20px 20px 5px 20px;
}

// 14.4.0 checkbox

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  margin: 0 5px;

  &:checked {
    background-color: var(--color-primary-400);
    border-color: var(--color-primary-400);

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 7px;
      width: 5px;
      height: 12px;
      border: solid var(--color-white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

// 14.5.0 others

.woocommerce-form__label {
  @include typography.base-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-900);
  flex: none;
  flex-grow: 0;

  input {
    margin-bottom: -3px;
  }
}

.select2-container {
  display: block;
  width: 100%;

  .selection {
    .select2-selection--single {
      background-color: var(--color-white);
      border: 1px solid var(--color-gray-200);
      border-radius: $input-radius;
      height: auto;

      .select2-selection__rendered {
        @include typography.base-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-gray-900);
        padding: 8px 20px 8px 12px;
      }

      .select2-selection__arrow {
        width: 30px;
        height: 100%;
      }
    }
  }

  .select2-dropdown {
    border: 1px solid var(--color-gray-200);
    border-radius: 0 0 $input-radius $input-radius;

    .select2-search {
      padding: 4px 6px;

      .select2-search__field {
        @extend .input-text;
      }
    }

    .select2-results {
      .select2-results__options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4px 6px;
        box-sizing: border-box;

        .select2-results__option {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          gap: 8px;
          width: 100%;
          border-radius: $input-radius;
          flex: none;
          flex-grow: 1;
          color: var(--color-gray-900);
          box-sizing: border-box;

          &:hover {
            color: var(--color-gray-900);
            background-color: var(--color-gray-100);
          }
        }

        .select2-results__option--highlighted[data-selected] {
          color: var(--color-white);
          background-color: var(--color-primary-400);
        }

        .select2-results__option[data-selected="true"] {
          color: var(--color-white);
          background-color: var(--color-primary-400);
        }
      }
    }
  }
}

// 14.6.0 quantity

.qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 calc(var(--spacing) * 20);
  gap: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 130);
  height: calc(var(--spacing) * 46);
  background: var(--color-gray-100);
  border-radius: 25px;
  flex-grow: 0;
  @include typography.text-md;
  color: var(--color-gray-900);
  outline: none;

  &:focus {
    outline: 2px solid var(--color-primary-400);
  }
}
