@use "icons";
@use "typography";
@use "button";
@use "inputs";
@use "breakpoints";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}
.hidden-title {
  display: none;
}

body,
figure {
  margin: 0;
  padding: 0;
}

body {
  @include typography.base-font;
  @include typography.text-md;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.wp-admin-bar-padding {
  padding-top: 32px;
}

.woocommerce {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

/* NOTIFICATION (Start) */

.woocommerce-notices-wrapper {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 997;
  animation: notification-anm 0.5s ease-in-out forwards 4s;

  .message-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 50px;
    position: relative;
    flex-grow: 1;
    border-radius: 15px;
    box-sizing: border-box;
    align-self: stretch;
    color: var(--color-white);
    list-style: none;
    margin: 0;

    a {
      color: var(--color-white);
      text-decoration: underline;

      &:hover {
        color: var(--color-white);
        text-decoration: underline;
      }
    }
  }

  .woocommerce-error {
    @extend .message-box;
    background-color: var(--color-error-500);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .woocommerce-message {
    @extend .message-box;
    background: var(--color-success-500);

    .wc-forward {
      display: none;
    }

    .restore-item,
    .button {
      @extend .button, .medium-button, .secondary-button;
      flex-grow: 0;
      min-width: 80px;
    }
  }
}

.notice-hidden {
  animation: notification-anm 0.5s ease-in-out forwards 3s;
}

.woocommerce-NoticeGroup {
  @extend .woocommerce-notices-wrapper;

  div {
    width: 100%;
    flex-grow: 1;

    .woocommerce-error {
      @extend .message-box;
      background-color: var(--color-error-500);
      flex-direction: column;
      gap: 10px;

      li {
        width: 100%;
        flex-grow: 1;
        list-style: none;

        a {
          color: var(--color-white);
          text-decoration: none;

          &:hover {
            color: var(--color-white);
            text-decoration: none;
          }
        }
      }
    }
  }
}

@keyframes notification-anm {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(110%);
  }
}

/* NOTIFICATION (End) */

.header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px calc(var(--spacing) * 20);
  gap: calc(var(--spacing) * 10);
  height: calc(var(--spacing) * 45);
  background: var(--color-gray-100);
  border-radius: 45px;
  flex: none;
  flex-grow: 0;
  transition: all 0.2s ease-in-out;

  &-text {
    display: none;
  }

  &:hover {
    .header-button-text {
      display: block;
    }
  }
}

.section-title {
  @include typography.display-md;
  margin: 0;
}

.product-item {
  .product-image {
    img {
      transition: transform 0.2s ease-in-out 0s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-title {
    @include typography.text-lg;
  }

  &:hover {
    .product-image {
      img {
        transform: scale(1.05);
      }
    }
  }
}
.old-price {
  text-decoration: none;
  position: relative;
  color: var(--color-gray-500);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary-400);
    transform: rotate(-5deg);
  }
}

.main-slider-item,
.product-thumbnail {
  figure,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer-menu {
  .menu-item {
    a {
      @include typography.text-md;
      color: var(--color-gray-600);

      &:hover {
        color: var(--color-gray-600);
        text-decoration: underline;
      }
    }
  }
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;

  del {
    text-decoration: none;
    position: relative;
    color: var(--color-gray-500);
    @include typography.display-md;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-primary-400);
      transform: rotate(-5deg);
    }
  }

  ins {
    text-decoration: none;
    color: var(--color-gray-900);
    @include typography.display-md;
  }
}

.accordion {
  summary {
    .icon-minus {
      display: none !important;
    }

    .icon-plus {
      display: block !important;
    }
  }

  .feature-icon {
    .icon {
      width: 20px;
      height: 20px;

      &:before {
        font-size: 20px;
      }
    }
  }

  &[open] {
    summary {
      .icon-minus {
        display: block !important;
      }

      .icon-plus {
        display: none !important;
      }
    }
  }
}

.swiper-thumbs {
  .photo-swiper-thumb-item {
    opacity: 0.5;
    cursor: pointer;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
    outline: 2px solid var(--color-primary-400);
  }
}

.drawer-menu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.drawer--active {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.dimness {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.dimness--active {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.corporation-badge {
  .corporation-badge-wrapper {
    .badge-text {
      display: none;
    }
  }

  &:hover {
    .corporation-badge-wrapper {
      width: auto;
      flex-shrink: 0;
      padding-right: 6px;

      .badge-text {
        display: block;
      }
    }
  }
}

.woocommerce-cart-form__cart-item {
  .cart-item-thumbnail {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  gap: 30px;
  border-radius: 20px;
  flex: none;
  flex-grow: 0;

  .card-title {
    @include typography.text-lg;
    @extend .paragraph-medium;
  }
}

.card-container-primary {
  background: var(--color-primary-100);
}

.card-container-secondary {
  background: var(--color-gray-100);
}

.card-container-tertiary {
  background: var(--color-white);
  box-shadow: var(--shadow-xs);
}

.main-menu-item {
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 100%;
    height: 5px;
    transform: translateX(-50%);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    height: 4px;
    background-color: var(--color-primary-400);
    transform: translateX(-50%);
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
  }
}

.main-menu-item--active {
  &:before {
    width: 50%;
  }
}

.menu-content {
  .product-item {
    flex: 0 1 25%;
  }
}

.results-page {
  .product-item {
    flex: 0 1 25%;
    padding-right: calc(var(--spacing) * 20);
  }
  .orderby {
    position: relative;

    &:after {
      content: "keyboard_arrow_down";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include icons.icon-font;
      font-size: 24px;
      width: 24px;
      height: 24px;
      color: var(--color-gray-500);
      z-index: 1;
    }
  }
}

.product-slider-pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 10);

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-300);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-primary-400);
  }
}

.sold-out {
  .product-image {
    img {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
  .product-info {
    opacity: 0.5;
  }
}

.account-order-container {
  .account-order {
    background: var(--color-gray-50);
  }
}

@include breakpoints.breakpoint-1440;
@include breakpoints.breakpoint-1024;
@include breakpoints.breakpoint-768;
@include breakpoints.breakpoint-580;
