@import "tailwindcss";

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #eaedef;
  --color-gray-300: #dee1e6;
  --color-gray-400: #cfd4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495058;
  --color-gray-800: #343a40;
  --color-gray-900: #20242a;

  --color-primary-50: #fffae8;
  --color-primary-100: #ffefbc;
  --color-primary-200: #ffe48c;
  --color-primary-300: #ffda52;
  --color-primary-400: #ffd000;
  --color-primary-500: #d5ad00;
  --color-primary-600: #af8e10;
  --color-primary-700: #8c7116;
  --color-primary-800: #6d5916;

  --color-error-50: #fff1f1;
  --color-error-100: #ffd7d7;
  --color-error-200: #ffabab;
  --color-error-300: #ff7a88;
  --color-error-400: #f94b64;
  --color-error-500: #e52046;
  --color-error-600: #c81a3a;
  --color-error-700: #a21431;
  --color-error-800: #7c0f26;
  --color-error-900: #560a1b;
  --color-error-950: #360610;

  --color-success-50: #edfff5;
  --color-success-100: #d7ffe9;
  --color-success-200: #abfcd2;
  --color-success-300: #7af7b8;
  --color-success-400: #47ee9a;
  --color-success-500: #23e27d;
  --color-success-600: #1cc265;
  --color-success-700: #179c50;
  --color-success-800: #11753b;
  --color-success-900: #0c4f27;
  --color-success-950: #082f18;

  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2xl: 2.2rem;
  --text-3xl: 2.6rem;
  --text-4xl: 3.4rem;
  --text-5xl: 4rem;
  --text-6xl: 5.5rem;

  --spacing: 1px;

  --shadow-xs: 0 1px 6px rgba(32, 36, 42, 0.12);
  --shadow-sm: 0 4px 10px rgba(32, 36, 42, 0.12);
  --shadow-md: 0 6px 20px rgba(32, 36, 42, 0.14);
  --shadow-lg: 0 10px 30px rgba(32, 36, 42, 0.14);
  --shadow-xl: 0 13px 50px rgba(32, 36, 42, 0.14);
}
